.cartTable{
    background-color: rgba(0, 0, 0, 0.5);
    color:whitesmoke;
    text-align: center;
    vertical-align: baseline;

}

.cartTableBody{
    text-align:left;
}

td{
    padding: 0.5rem;
}
.cartCost{
    background-color: rgba(255, 124, 1, 0.5);
}
.trash{
    cursor: pointer;
}
.redirection-text {
    font-size: 2rem;
    animation: pulse 1s infinite alternate;
  }
  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }