* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(/src/assets/images/stock-photo-wood-texture-background-old-planks.jpeg);
  color: var(--text-color-onDark);
  background-color:var(--bg-color-main);
  width: auto;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

header a {
  color: inherit;

}

:root {
  
  /* --mid-section-bg-color: #fff2e0; */
  --bg-color-content:#ECDBBA;
  --bg-color-main:#1f1f1f;
  
  --bg-color-buttons: #161616;
  --bg-color-buttons-hoover: #9f6444; /* old : color #bd6b00 */

  --text-color-onLight:#161616;
  --text-color-onDark:#e9e9e9;

  background-color: var(--bg-color-content);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

button {
  flex: 1;
  font-size: calc(2vw + 5px);
  border: unset;
  background-color: var(--bg-color-buttons);
  color: var(--text-color-onDark);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  transition: transform, background-color, 0.25s;
}

button:hover {
  transform: translateY(-0.15rem) scale(1.02);
  background-color: var(--bg-color-buttons-hoover);
  /* color: var(--text-color-onLight); */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.content {
  color: var(--text-color-onDark);
  background-color: var(--bg-color-content);
  padding: 2rem;
}

.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.selector {
  height: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.display {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.display img {
  /* aspect-ratio: 1/1; */
  width: 100%;
  object-fit: contain;
}
.display p {
  font-size: calc(2vw + 2px);
  padding: 1rem;
  text-align: center;
  color: var(--text-color-onLight);
}
.display button {
  padding: 1rem;
  margin-top: 2rem;
}
.Logo {
  /* background-image:url(./assets/images/Tap&Tini\ Trans.png); */
  width: 100%;
  max-width: 20rem;
  max-height: 5rem;
  object-fit: contain;
}


@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .selector {
    gap: 1rem;
  }

  .selector button {
      padding: 1rem;
  }
}