header {
  background-color: gray;
  width: auto;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

:root {
  background-color: #333333;
}

* {
  margin: 0;
  padding: 0;
}

.content {
  color: white;
  padding: 2rem;
}